
/* ~~~~~~~~~~~~~~~~~ Types ~~~~~~~~~~~~~~~~ */

body {
  margin: 0px;
  background-color: #222831;
}

button {
  border-radius: .5vw;
  text-align: center;
  font-size: 1.2vw;
  border: none;
}

input {
  border-radius: .5vw;
  text-align: left;
  padding-left: 1vw;
  resize: none;
  overflow: hidden;
  font-size: 1.2vw;
  font-style: italic;
  border: none;
}

textarea:focus, input:focus{
    outline: none;
}
/* ~~~~~~~~~~~~~~~~~ Classes ~~~~~~~~~~~~~~~~ */

/* ================ Grid ================ */
.grid-container {
  display: grid;
  grid-gap: .75vw;
}

.grid-item {
  background-color: #393E46;
}

/* ================ Default ================ */
.default-shape {
  border-radius: .75vw;
}

/* ================ Scrollbar ================ */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #EEEEEE;
}

/* ~~~~~~~~~~~~~~~~~ IDs ~~~~~~~~~~~~~~~~ */

/* ================ Main ================ */
#main {
  height: 100vh;
  width: 100vw;
  padding: .75vw;

  grid-template-columns: 50% auto;
  box-sizing: border-box;
}

#main #right {
  grid-template-rows: auto 3.5vw;
}

#main #button-container {
  grid-column-gap: .25vw;
  padding: .25vw;
  grid-template-columns: auto 10vw;

  box-sizing: border-box;
}
